@charset "utf-8";
/* CSS Document */



@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat&display=swap');

#header1{
	
	background-image:url("../Images/mountainsprairies.jpg");
	background-size: cover;
	background-position: center;
	height: 30vh;
	
	
}
h1{
	font-family: 'Montserrat', sans-serif;
}



h2{
	font-family: 'Comfortaa', cursive;
}



section{
	background-color: lightgrey;
	
	
}



.bg-secondary{
	background-color: #701E1F !important;
}


a:link, a:visited{
	
	color:#FFFFFF;
	
}
a:hover{color: #000000}

footer{
	
	
	background-color: #701E1F;
	
	font-family: 'Montserrat', sans-serif;
	
}